@import "tailwindcss";

@theme {
  --font-sans: "IBM plex sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #122c5f;
  --color-bg-primary: #071839;
}

html,
body {
  @apply bg-bg-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
