@import "tailwindcss";

@theme {
  --font-sans: "IBM plex sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-aswhite: #f2f2f2;
  --color-primary: #122c5f;
  --color-bg-primary: #071839;

  --animate-pulse-2x: pulse 1.8s ease-in infinite;
  @keyframes pulse {
    0%,
    100% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
  }

  --animate-flip: flip 2.5s ease-in;
  @keyframes flip {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    40% {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }
  --animate-flip-out: flip-out 2.5s ease-in;
  @keyframes flip-out {
    0% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    40% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
}

html,
body {
  @apply bg-bg-primary;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
